on: push

jobs:
    app:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@main
        - run: |
              wget -q https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb
              apt install packages-microsoft-prod.deb
              func init LocalFunctionsProject --worker-runtime node --language javascript --docker
