on: push

jobs:
    app:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@main
        - run: func init LocalFunctionsProject --worker-runtime node --language javascript --docker
